@model Domain.Models.ReporteModel

<!-- Modal -->
<div class="modal fade" id="modal-panel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-error="@Model.Resultado">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>

            <div id="modal-danger" class="modal-body">
                <label class="control-label">Descripción:</label>
                <em id="txt-ms">@Model.Mensaje</em>
            </div>
            <div class="modal-footer">
                @if (Model.Resultado == 0)
                {
                    //Html.RenderPartial("_AppletPartial", Model);
                    Html.RenderPartial("_PrinterPartial", Model);
                }
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">
    $(document).ready(function () {

        $('#modal-danger').hide();

        var pnlModal = $('#modal-panel');
        if (pnlModal.attr('data-error') != '0') {

            $('.modal-title').text('Error en la operacion');
            $('#modal-danger').show();
            pnlModal.modal('show');
        }

    });

    function cargando() {
        $('#modal-panel').modal('hide');
        $('#loading').modal('show');
    }

    function ok() {
        mensaje('Se ha impreso la caratula con éxito');
        redirect();
    }

    function err() {
        mensaje('Se produjo un error en la impresión');
    }

    function mensaje(msg) {

        $('#printer-container').hide();
        $('.modal-title').text('Impresión Finalizada');
        $('#txt-ms').text(msg);
        $('#modal-danger').show();
        $('#loading').modal('hide');
        $('#modal-panel').modal('show');
    }

    function redirect() {
        window.setInterval(function () {
            window.location.href = getCurrentPath();
        }, 3000);
    }
</script>