@model Domain.Models.PresentacionModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string cookieToken, formToken;
    AntiForgery.GetTokens(null, out cookieToken, out formToken);
    var token = String.Format("{0}:{1}", cookieToken, formToken);
}

<form class="form-horizontal" method="post" role="form">
    @Html.AntiForgeryToken()

    <fieldset>
        <legend><h3>Contestacion de vista</h3></legend>
        <div class="form-group">
            <p class="text-left">
                En esta seccion usted podra registrar una contestacion de vista para un tramite.
                Para ello ingrese los datos a continuacion
            </p>
        </div>

        <!--
        <div class="form-group">
            <label for="Desarchivar" class="col-lg-3 control-label">Desarchivar</label>
            <div class=" col-lg-1 checkbox">
                <input type="checkbox" value="true" id="Desarchivar" name="Desarchivar" onclick="muestroFormulario('mostrarTimbrado')"> <br />
            </div>
        </div> -->

        <div id="mostrarTimbrado" style=display:none>
            <div class=" form-group">
                <label for="codigoFormulario" class="col-lg-3 control-label">C&oacute;digo del Timbrado:</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="codigoFormulario" name="codigoFormulario"
                           placeholder="Ingrese el c&oacute;digo de barra al pie del formulario" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="txt-tramit" class="col-lg-3 control-label">Nro de tramite</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="txt-tramit" name="nroTramite"
                       placeholder="Ingrese el numero de tramite" required>
            </div>
        </div>
        <div class="form-group">
            <label for="txt-correlativo" class="col-lg-3 control-label">Nro de correlativo</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="txt-correlativo" name="nroCorrelativo"
                       placeholder="Ingrese el numero de correlativo" required>
            </div>
        </div>
        <div class="form-group" id="pnl-submit">
            <div class="col-lg-offset-3 col-lg-10">
                <button type="submit" id="btn-submit" class="btn btn-default">Verificar</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10" id="pnl-checked">
            </div>
        </div>
    </fieldset>
</form>

@if (Model != null)
{
    Html.RenderPartial("CorrelativoResultadoPartial", Model);
}

<!-- Modal -->
<div class="modal fade" id="modal-ajax" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content panel-danger">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div id="modal-success" class="modal-body">
                <div class="form-group">
                    <label class="control-label">Nro. Correlativo:</label>
                    <em id="txt-corr"></em>
                </div>
                <div class="form-group">
                    <label class="control-label">Razon Social:</label>
                    <em id="txt-rs"></em>
                </div>
                <div class="form-group">
                    <label class="control-label">Tipo Societario:</label>
                    <em id="txt-ts"></em>
                </div>
            </div>
            <div id="modal-danger" class="modal-body">
                <label class="control-label">Descripcion:</label>
                <em id="txt-ms"></em>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" id="btn-conf" data-dismiss="modal" class="btn btn-default">Confirmar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    $(document).ready(function() {

        $('form').validate(
        {
            errorClass: 'text-danger',
            submitHandler: function(form) {


                if ($('#modal-ajax').is(':visible') == false) {
                    $('#loading').modal('show');
                    validarVista();
                } else
                    form.submit();

            },
            rules: {
                codigoFormulario: {
                    required: true
                },
                nroTramite: {
                    number: true,
                    required: true,
                    maxlength: 21
                },
                nroCorrelativo: {
                    number: true,
                    required: true,
                    maxlength: 21
                }
            },
            messages: {
                codigoFormulario: {
                    required: "Campo requerido",
                    number: "Debe ingresar un valor numérico",
                    maxlength: "Debe ingresar un número de menor dígito"
                },
                nroTramite: {
                    required: "Campo requerido",
                    number: "Debe ingresar un valor numérico",
                    maxlength: "Debe ingresar un número de menor dígito"
                },
                nroCorrelativo: {
                    required: "Campo requerido",
                    number: "Debe ingresar un valor numérico",
                    maxlength: "Debe ingresar un número de menor dígito"
                }
            },
            highlight: function(element, errorClass, validClass) {
                $(element).parent().removeClass('has-success').addClass('has-error');
            },
            unhighlight: function(element, errorClass, validClass) {
                $(element).parent().removeClass('has-error').addClass('has-success');
            }
        });

        $('#btn-conf').click(function() {
            $('#loading').modal('show');

            $('form').submit();
        });
    });

    function muestroFormulario(mostrarTimbrado) {

        if (document.getElementById(mostrarTimbrado).style.display == 'none') {
            document.getElementById(mostrarTimbrado).style.display = 'block';
        } else {
            document.getElementById(mostrarTimbrado).style.display = 'none';
        }
    }
    
    function validarVista() {

        var tramite = $('#txt-tramit').val();
        var correlativo = $('#txt-correlativo').val();
        var codigoFormulario = $('#codigoFormulario').val();
        //var chkDesarchivo = $("#Desarchivar").prop('checked');
        chkDesarchivo = false;

        $.ajax({
            type: 'get',
            dataType: 'json',
            url: '@Url.Action("ValidarVista", "Tramite")',
            data: { NroTramite: tramite, NroCorrelativo: correlativo, Desarchivar: chkDesarchivo, CodigoFormulario: codigoFormulario },
            headers: { RequestVerificationToken: '@token' },
            success: function (data) {
                $('#modal-ajax .modal-body').hide();

                if (data.Resultado == 0) {
                    $('#modal-ajax #txt-corr').text(data.NroCorrelativo);
                    $('#modal-ajax #txt-rs').text(data.NombreSociedad);
                    $('#modal-ajax #txt-ts').text(data.TipoSociedad);
                    $('#modal-ajax .modal-title').text('Datos de Entidad');
                    $('#modal-ajax #btn-conf').show();
                    $('#modal-ajax #modal-success').show();
                }
                else {
                    $('#modal-ajax .modal-title').text('Error en la operacion');
                    $('#modal-ajax #txt-ms').text(data.Mensaje);
                    $('#modal-ajax #btn-conf').hide();
                    $('#modal-ajax #modal-danger').show();
                }
                $('#loading').modal('hide');
                $('#modal-ajax').modal('show');
            }
        });
    }


</script>


