@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="error-container" class="container text-center">
    <h2>Acceso Restringido</h2>

    <p>Usted no posee permisos para acceder a esta sección.</p>

    <img src="@Url.Content("~/Images/blue_lock.png")" />
</div>
