<div id="footer">
    <div class="row">
        <div class="col-md-offset-2 col-md-1">
            <img id="log-jus" src="@Url.Content("~/Images/igj_logo_pie.png")"/>
        </div>
        <div class="col-md-offset-1 col-md-1">
            <img src="@Url.Content("~/Images/argentina_buena_gente.png")"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-7">
            <address>
                (+5411) 5300-4000 | Av. Paseo Colón 285 | C1063ACC | Ciudad Autónoma de Buenos Aires | Argentina
            </address>
        </div>
    </div>
</div>
