<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WS_RespuestaEnteSoap" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ProcessService">
          <security mode="Transport">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.2.27.97:7023/WS-RespuestaEnte.asmx" binding="basicHttpBinding" bindingConfiguration="WS_RespuestaEnteSoap" contract="ENTE.WS_RespuestaEnteSoap" name="WS_RespuestaEnteSoap" />
      <endpoint address="https://bpm2.jus.gov.ar/IGJ/DesktopService/ProcessService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ProcessService" contract="BPM.ProcessService" name="WSHttpBinding_ProcessService" />
    </client>
  </system.serviceModel>
</configuration>