/* Sticky footer styles
-------------------------------------------------- */
html, body {
    height: 100%;
}

body {
  /* The html and body elements cannot have any padding or margin. */
  background-color: #C2C2C2;
}

.page-header{
    margin: 0 0 0 0;
    padding-bottom: 0;
}

.page-header #img-ar {
    margin-top: 14px;
}

/* Wrapper for page content to push down footer */
#wrap {
    /* Pad bottom by footer height */
    min-height: 100%;
    width: 968px;
    background-color: #ededed;
    box-shadow: 0 1px 5px 2px #888888;
    margin: 0 auto -110px auto;
}

.page-container {
    height: 800px;
    width: 90%;
    padding: 50px 15px 0;
    margin: 0 0 0 45px;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: -5px -3px 9px -8px #0B3551;
}

#wrap:after {
    content: "";
    display: block;
}

.page-footer, #wrap:after {
    width: 100%;
    height: 110px;
}

.page-footer{
    
    bottom:0;
    background-color: #313131;
}

#footer {
    margin: 0 auto 0 auto;
    padding: 15px 0 0 10px;
    width: 900px;
}

.page-footer #log-jus {
    height: 35px;
}

.page-footer address {
    color: #adacac;
    font-size: 85%;
}

form legend {
    border-bottom: 1px solid #304A92;
    border-top: 1px solid #304A92;
}

form legend h3 {
    color:#304a92;
    font-size: 20px;
    margin: 5px 0 30px 2px;
}

code {
  font-size: 80%;
}

.mensaje {
    width: 800px;
    min-height: 200px;
    margin-left: 2%;
    margin-top: 80px;
}

/**Tabla Usuarios*/
div.dataTables_wrapper {
    margin-top: 50px;
}

div.dataTables_length label {
	width: 460px;
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
	width: 460px;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table {
	margin: 1em 0;
	clear: both;
}

.pagination {
  height: 36px;
  margin: 18px 0;
}
.pagination ul {
  float: left;
  margin: 0;
  border: 1px solid #ddd;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
  display: inline;
}
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  border-right: 1px solid;
  border-right-color: #ddd;
  border-right-color: rgba(0, 0, 0, 0.15);
  *border-right-color: #ddd;
  /* IE6-7 */

  text-decoration: none;
}
.pagination a:hover, .pagination .active a {
  background-color: #64bddd;
}
.pagination .disabled a, .pagination .disabled a:hover {
  background-color: transparent;
  color: #bfbfbf;
}
.pagination .next a {
  border: 0;
}

#tbl-usrs_wrapper .row {
    margin-left: 0;
    margin-right: 0;
}

/**Tabs*/
.tab-title {
    margin-bottom: 25px;
}

#tab-tramit {
    border-bottom: 1px solid rgb(218, 218, 218);
    border-left: 1px solid rgb(218, 218, 218);
    border-right: 1px solid rgb(218, 218, 218);
    height: 350px;
}

#nav-timbrados {
    height: 300px;
    overflow: auto;
}

#error-container img {
    margin-top: 100px;
}