<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings xdt:Transform="Replace">
    <add name="MetModel" connectionString="metadata=res://*/MetModel.csdl|res://*/MetModel.ssdl|res://*/MetModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=MELMAC;password=igjtimbra;persist security info=True;user id=IGJTIMBRA&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint address="http://10.2.27.97:7023/WS-RespuestaEnte.asmx" binding="basicHttpBinding" bindingConfiguration="WS_RespuestaEnteSoap" contract="ENTE.WS_RespuestaEnteSoap" name="WS_RespuestaEnteSoap"/>
      <endpoint address="http://dev-bpm.jus.gov.ar:8080/jus-bpm-core/ProcessManagementService" binding="customBinding" bindingConfiguration="CustomBinding_ServiceSoapBinding" contract="BPM.ProcessManagementServiceInterface" name="ProcessManagementServiceBpm" />
      <endpoint address="https://dev-bpm.jus.gov.ar/IGJ/IGJGestionTramiteService/QueueService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_NoCredential" contract="Queue.QueueService" name="WSHttpBinding_QueueService" />
      <endpoint address="https://dev-bpm.jus.gov.ar/IGJ/IGJGestionTramiteService/TramiteService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Credential" contract="TramiteService.TramiteService" name="WSHttpBinding_TramiteService" />
    </client>
  </system.serviceModel>
  
</configuration>
